@charset "UTF-8";
/* CSS Document*/

#container
{
width: 400px;
 margin: 0 auto;
background-color: white;
}

body
{
  text-align: center;
  font-family: 'Overlock', georgia, cursive;
   background-image: url(../images/gaming.png);
}

p
{
  font-size: 40px;
}

label, i
{
  font-size: 24px;
  margin-bottom: 30px;
}

h1
{
  font-size: 30px;
  font-weight: bold;
}

svg
{
  width: 300px;
}

.default
{
  opacity: 0;
}

.showBodyPart
{
  opacity: 1 !important;
  display: block !important;
}

.reset-screen
{
  display: none;
  padding-top: 20%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.9);
}



.reset-button
{
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

input
{
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin: 10px 0 10px 49%;
  display: block;
}
