@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

ul
{
  list-style: none;
}

#hangman_scene
{
  width: 700px;
  margin: 30px;
}

.default
{
	opacity: 0;
}

.showBodyPart
{
	opacity: 1;
}

.resetScreen
{
	display: none;
}
